img{
    height: 300px;
    border: 3px solid brown;
    padding: 10px;

}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav{
    background-color: antiquewhite;
    padding: 10px;
}
nav ul{
  
    padding-left: 0px;
    text-align: center;
    
}

nav li {
    display: inline-block;
    list-style: none;
    border-bottom: 1px solid blue;
    margin: 0px 10px;
    font-size: 20px;
    text-transform: uppercase;
}
section{
    margin-top: 50px;
}
h2{
    border-bottom: 2px solid bisque;
}
body{
    padding: 0px 30px;
}